body,html{
    width: 100%;
    height: 100%;
    background: url(mountains.jpg) no-repeat center center fixed; 
    background-size: cover;
}


.cover{
    position: fixed;
    opacity: 1;
    background-color: rgba(0,0,0,.6);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    
}

h1{
    color:white;
    font-family: 'Grand Hotel',cursive;
    font-size: 56px;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.60);
}

h2{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.60);
}

h3{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.60);
}

hr {
    border-color:#3472F7;
    border-width: 3px;
    max-width: 65px;
  }

.buffer {
    height: 50px;
}

.buffer2 {
    height: 200px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.60);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.60);
}
  
.btn-primary {
    transition: all .5s;
    background-color: #3472F7;
    border-color: #3472F7;
}
  
.btn-primary:hover {
    background-color: #3472F7;
    border-color: #3472F7;
    border-width: 4px;
    transition: .5s ease-in-out;
}
  
.btn-xl {
    padding: 1rem 2rem;
}